body {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 129.52%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo 2", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 600;
}

h1,
h2 {
  font-size: 3.875em;
  max-width: 700px;
  line-height: 74px;
}

h1 {
  padding-bottom: 3vh;
  /* text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff; */
}

h2 {
  padding-bottom: 4vh;
  font-size: 3em;
}

.shadow {
  box-shadow: 6px 10px 14px rgba(0, 0, 0, 0.12);
}

.contain {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

h3 {
  font-size: 2.6em;
  line-height: 53px;
}

h4 {
  font-size: 1.75em;
  padding-right: 87px;
  text-align: left;
}

h5 {
  font-size: 1.625em;
  text-align: right;
  text-transform: uppercase;
  color: #346dff;
}

h6 {
  font-size: 1.375em;
  text-transform: uppercase;
  text-align: left;
}

section {
  margin: 0 auto;
  padding-top: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: absolute;
  top: 25px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 25px;
}

.center {
  text-align: center;
}

.header_menu li {
  display: inline;
  margin-right: 20px;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
}

.main {
  background: url(../img/main_bg2.png) 0 0 / cover no-repeat fixed;
  height: 100vh;
  /* margin-top: 2vh; */
}

.main__h {
  position: absolute;
  top: 30vh;
  right: 15vh;
}

.logo {
  text-align: center;
  margin-left: 50%;
  text-align: right;
}

/* .services {
  padding-top: 10vh;
} */

.services__column {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 900px;
  flex-wrap: wrap;
}

.services__column_col {
  /* background: url(../img/services_card_2_bg.png) 0 0 / cover no-repeat; */
  height: 520px;
  width: 340px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
}

.services__col_img {
  height: 100%;
  width: 100%;
  position: absolute;
}

.services__col_text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 30px;
  color: white;
}

.services__card_bt {
  background: #346dff;
  border-radius: 15px;
  font-weight: 500;
  font-size: 1.4em;
  line-height: 39px;
  color: #ffffff;
  padding: 10px 28px;
}

.separator {
  background: #346dff;
  width: 60vw;
  height: 2px;
  margin-bottom: 10vh;
}

.separator_contacts {
  width: 80vh;
}

/* .privilege {
  padding-top: 10vh;
} */

.privilge__column_1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* .privilge__column_1 div::nth-child(2) {
  padding: 0 30px;
} */

.privilage__column_col {
  width: 380px;
  padding: 15px 30px;
}

.privilage__col_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.privilage__col_txt {
  font-weight: 500;
  font-size: 1.25em;
  line-height: 129.52%;
}
/* 
.bookeeper {
  padding-bottom: 10vh;
} */

.bookeeper__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bookeeper__columns .bookeeper__col:nth-child(2n) {
  margin: 0 15px;
}

.bookeeper__col {
  height: 572px;
  width: 284px;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 6px 10px 14px rgba(0, 0, 0, 0.12);
  margin-bottom: 15px;
}

.bookeeper__col_title {
  background: rgba(52, 109, 255, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  margin-bottom: 32px;
}

.bookeeper__col_title-txt {
  width: 185px;
}

.bookeper__col_img {
  margin-right: 9px;
}

.bookeeper__col_txt {
  flex: 1 1 auto;
}

.bookeeper__col_txt-title {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.bookeeper__col_txt-p {
  padding-left: 52px;
  text-align-last: left;
  background: url(../img/icons/iconcheck.png) 5px 5px no-repeat;
}

.bookeeper__col_subtitle {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 129.52%;
  text-align: center;
  margin: 0 36px;
  margin-bottom: 33px;
}

.bookeper__col_bt {
  align-self: center;
  padding: 14px 44px;
  background: #346dff;
  border-radius: 15px;
  font-weight: 500;
  font-size: 1em;
  color: #ffffff;
  margin-bottom: 54px;
}

@media (max-width: 1400px) {
  body {
    font-size: 13px;
  }
  h1,
  h2 {
    font-size: 2.8em;
    padding-bottom: 4vh;
  }
  h3 {
    font-size: 2.4em;
  }
  h4 {
    font-size: 1.6em;
  }
  h5 {
    font-size: 1.55em;
  }
  h6 {
    font-size: 1.3em;
  }
  .header_menu li {
    font-size: 12px;
  }
  .services__column {
    width: 800px;
  }
  .services__column_col {
    width: 300px;
    height: 470px;
  }
  .services__card_bt {
    font-size: 1.4em;
    padding: 12px 38px;
  }
  .privilage__col_txt {
    font-size: 1.18em;
  }
  .privilage__column_col {
    height: 200px;
  }
  .bookeeper__col {
    height: 500px;
    width: 270px;
  }
  .bookeeper__col_title {
    margin-bottom: 20px;
  }
  .bookeeper__col_txt-title {
    font-size: 15px;
  }
  .bookeeper__col_txt {
    margin-bottom: 20px;
  }
  section {
    padding-top: 4vh;
  }
}

@media (max-width: 960px) {
  h1,
  h2 {
    max-width: 400px;
  }

  .logo {
    max-height: 30vh;
    max-width: 300px;
  }
  .services__column {
    width: 460px;
  }
  .section {
    padding-top: 80px;
  }
  .privilege {
    padding-top: 80px;
  }
}

.lawyer__column {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.lawyer__column_decsription {
  position: relative;
  padding-top: 30px;
  padding-left: 80px;
}

.lawyer__Btn_Fwd {
  position: absolute;
  left: 15px;
  height: 36px;
  width: 36px;
  background: url(../img/icons/LawyerDescFwd.svg) 0 0 / contain no-repeat;
}

.lawyer__description_title {
  margin-bottom: 20px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.lawyer__description_txt {
  position: absolute;
  top: 70px;
  max-width: 300px;
}

.lawyer__description_txt p {
  padding-bottom: 25px;
}

.lawyer__description_icon {
  position: absolute;
  right: 25px;
  top: 130px;
}

.lawyer__description_price {
  position: absolute;
  top: 175px;
  left: 80px;
  color: #346dff;
}

.lawyer__column_col {
  width: 490px;
  height: 278px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 129.52%;
  margin: 15px;
  overflow: auto;
}

.lawyer__column_title {
  background: rgba(52, 109, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lawyer__column_title-h {
  margin: 15px auto;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 14.236px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #346dff;
}

.lawyer__col_icon {
  height: 40px;
  margin-right: 5px;
}

.lawyer__col_title {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #333333;
  text-align: left;
}

.lawyer__col_a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: right;
  color: rgba(52, 109, 255, 0.8);
  display: block;
}

.lawyer__cards_column {
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  /* flex: 1 1 auto; */
  justify-content: center;
  align-items: center;
  margin: auto 25px;
}

.lawyer__cards_col {
  max-width: 45%;
  display: flex;
  cursor: pointer;
}

.lawyer__Btn {
  display: flex;
  padding: 10px 35px;
  margin-bottom: 0;
  border-radius: 10px;
}

.cheak__icon {
  margin: 10px 10px 0 0;
}

.contacts {
  padding-bottom: 10vh;
}

.contacts__graf {
  text-align: center;
  width: 140px;
  margin-bottom: 10vh;
}

.contacts__column {
  display: flex;
}

.contacts__col {
  margin: 0 10px;
  margin-bottom: 10vh;
}

.contacts__col img {
  height: 60px;
}

@media (max-width: 500px) {
  h1,
  h2 {
    max-width: 380px;
  }
  .services__column {
    width: 400px;
  }
  .bookeeper__columns .bookeeper__col:nth-child(2n) {
    margin: 0 0 15px 0;
  }
}

.hide {
  display: none;
}
