body {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 129.52%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo 2", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 600;
}

h1,
h2 {
  font-size: 3.875em;
  line-height: 74px;
}

h1 {
  padding-bottom: 3vh;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 0.5px 0.5px, 0 0 0.2em black;
  /* text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff; */
}

h2 {
  padding-bottom: 4vh;
  font-size: 3em;
}

.shadow {
  box-shadow: 6px 10px 14px rgba(0, 0, 0, 0.12);
}

.contain {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

h3 {
  font-size: 2.6em;
  line-height: 53px;
}

h4 {
  font-size: 1.75em;
  padding-right: 87px;
  text-align: left;
}

h5 {
  font-size: 1.625em;
  text-align: right;
  text-transform: uppercase;
  color: #346dff;
}

h6 {
  font-size: 1.375em;
  text-transform: uppercase;
  text-align: left;
}

section {
  margin: 0 auto;
  padding-top: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: 25px;
}

.center {
  text-align: center;
}

.header_menu {
  position: absolute;
  right: 25px;
}

.header_menu li {
  display: inline;
  margin-right: 20px;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
}

.header_menu a {
  color: #ffffff;
  text-shadow: 0.5px 0.01px, 0 0 0.2em black;
}

.header_menu a:hover {
  transition: 300ms;
  color: #4b4b4b;
  text-shadow: 0.5px 0.01px, 0 0 0.1em rgb(112, 112, 112);
}

.main {
  background: url(../img/main_bg3.png) 0 0 / cover no-repeat;
  height: 100%;
  /* margin-top: 2vh; */
}

.main__h {
  position: absolute;
  top: 25vh;
  right: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__subtitle {
  color: #333;
  text-align: center;
  text-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 80px;
}

.main__button {
  border-radius: 20px;
  border: 1px solid #333;
  background: rgba(52, 109, 255, 0.47);
  padding: 15px 78px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.main__button:hover {
  transition: 300ms;
  background: rgba(255, 255, 255, 0.47);
  color: #4b4b4b;
}

.logo {
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  font-family: "Ephesis", cursive;
  font-size: 44px;
  font-style: normal;
  line-height: normal;
  text-shadow: 0.5px 0.5px, 0 0 0.2em black;
}

.about {
  background: url(../img/about_bg.png) 0 0 / 100% auto no-repeat;
  height: 100vh;
  position: relative;
}

.about__card {
  position: absolute;
  top: 7vh;
}

.about__card_txt {
  position: absolute;
  right: -140px;
  top: 20vh;
  width: 900px;
  padding: 25px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 149.523%;
  text-indent: 20px;
}

.about__card_txt p {
  margin-bottom: 15px;
}

.about__card_txt p:last-child {
  margin-bottom: 0;
}

/* .services {
  padding-top: 10vh;
} */

.services__column {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 900px;
  flex-wrap: wrap;
}

.services__column_col {
  /* background: url(../img/services_card_2_bg.png) 0 0 / cover no-repeat; */
  height: 520px;
  width: 340px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
}

.services__column_col:hover {
  transition: 300ms;
  box-shadow: 6px 10px 14px rgba(0, 0, 0, 0.32);
}

.services__col_img {
  height: 100%;
  width: 100%;
  position: absolute;
}

.services__col_text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 30px;
  color: white;
}

.services__card_bt {
  background: #346dff;
  border-radius: 15px;
  font-weight: 500;
  font-size: 1.4em;
  line-height: 39px;
  color: #ffffff;
  padding: 10px 28px;
}

.services__card_bt:hover {
  transition: 400ms;
  scale: 1.1;
  background: rgba(255, 255, 255, 0.47);
  color: #000000;
}

.separator {
  background: #346dff;
  width: 50vw;
  height: 2px;
  margin-bottom: 10vh;
}

.separator_contacts {
  max-width: 45vh;
}

/* .privilege {
  padding-top: 10vh;
} */

.privilge__column_1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* .privilge__column_1 div::nth-child(2) {
  padding: 0 30px;
} */

.privilage__column_col {
  width: 380px;
  padding: 15px 30px;
}

.privilage__col_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.privilage__col_title img {
  height: 40px;
}

.privilage__col_txt {
  font-weight: 500;
  font-size: 1.25em;
  line-height: 129.52%;
}
/* 
.bookeeper {
  padding-bottom: 10vh;
} */

.bookeeper__subtitle {
  font-size: 22px;
  color: #868686;
}

.bookeeper__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bookeeper__columns .bookeeper__col:nth-child(2n) {
  margin: 0 15px;
}

.bookeeper__col {
  height: 572px;
  width: 284px;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 6px 10px 14px rgba(0, 0, 0, 0.12);
  margin-bottom: 15px;
}

.bookeeper__col:hover {
  transition: 300ms;
  box-shadow: 6px 10px 14px rgba(0, 0, 0, 0.32);
}

.bookeeper__col_title {
  background: rgba(52, 109, 255, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  margin-bottom: 32px;
}

.bookeeper__col_title-txt {
  width: 185px;
}

.bookeper__col_img {
  margin-right: 9px;
}

.bookeeper__col_txt {
  flex: 1 1 auto;
}

.bookeeper__col_txt-title {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.bookeeper__col_txt-p {
  padding-left: 52px;
  text-align-last: left;
  background: url(../img/icons/iconcheck.png) 5px 5px no-repeat;
}

.bookeeper__col_subtitle {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 129.52%;
  text-align: center;
  margin: 0 36px;
  margin-bottom: 33px;
}

.bookeper__col_bt {
  align-self: center;
  padding: 14px 44px;
  background: #346dff;
  border-radius: 15px;
  font-weight: 500;
  font-size: 1em;
  color: #ffffff;
  margin-bottom: 54px;
}

.bookeper__col_bt:hover {
  transition: 400ms;
  scale: 1.1;
  color: rgba(0, 0, 0, 0.8);
}

.lawyer__column {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.lawyer__column_decsription {
  position: relative;
  padding-top: 30px;
  padding-left: 80px;
}

.lawyer__Btn_Fwd {
  position: absolute;
  left: 15px;
  height: 36px;
  width: 36px;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.3775 23.0404L18.2021 23.8665L19.8566 22.2196L19.0343 21.3911L17.3775 23.0404ZM13.5469 17.5354L12.7222 16.707L11.8961 17.5316L12.7185 18.36L13.5469 17.5354ZM19.0519 13.7048L19.878 12.8802L18.231 11.2257L17.4026 12.048L19.0519 13.7048ZM19.0343 21.3911L14.3753 16.7108L12.7185 18.36L17.3775 23.0404L19.0343 21.3911ZM14.3715 18.3638L19.0519 13.7048L17.4026 12.048L12.7222 16.707L14.3715 18.3638ZM17.5113 35.0628C22.1556 35.0734 26.6139 33.2387 29.9055 29.9622C33.197 26.6857 35.0521 22.2358 35.0628 17.5915L32.7279 17.5862C32.7187 21.6112 31.1109 25.4678 28.2583 28.3074C25.4056 31.147 21.5417 32.7371 17.5167 32.7279L17.5113 35.0628ZM0.0400724 17.5114C0.0294446 22.1557 1.86419 26.614 5.14069 29.9055C8.41719 33.197 12.867 35.0521 17.5113 35.0628L17.5167 32.7279C13.4916 32.7187 9.63509 31.1109 6.79545 28.2583C3.95582 25.4056 2.36571 21.5418 2.37492 17.5167L0.0400724 17.5114ZM17.5915 0.0400918C12.9472 0.0294639 8.48889 1.86421 5.19736 5.14071C1.90583 8.41721 0.0507003 12.8671 0.0400724 17.5114L2.37492 17.5167C2.37948 15.5237 2.77655 13.5511 3.54345 11.7116C4.31035 9.872 5.43208 8.20151 6.84457 6.79547C8.25706 5.38943 9.93266 4.27536 11.7757 3.51689C13.6188 2.75841 15.5931 2.37038 17.5861 2.37494L17.5915 0.0400918ZM17.5861 2.37494C19.5792 2.3795 21.5517 2.77656 23.3913 3.54347C25.2308 4.31037 26.9013 5.43209 28.3074 6.84459C29.7134 8.25708 30.8275 9.93268 31.586 11.7757C32.3444 13.6188 32.7325 15.5932 32.7279 17.5862L35.0628 17.5915C35.0734 12.9472 33.2386 8.48891 29.9621 5.19738C26.6856 1.90585 22.2358 0.0507197 17.5915 0.0400918L17.5861 2.37494Z' fill='%23346DFF'/%3e%3c/svg%3e ")
    0 0 / contain no-repeat;
}

.lawyer__Btn_Fwd:hover {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.3775 23.0404L18.2021 23.8665L19.8566 22.2196L19.0343 21.3911L17.3775 23.0404ZM13.5469 17.5354L12.7222 16.707L11.8961 17.5316L12.7185 18.36L13.5469 17.5354ZM19.0519 13.7048L19.878 12.8802L18.231 11.2257L17.4026 12.048L19.0519 13.7048ZM19.0343 21.3911L14.3753 16.7108L12.7185 18.36L17.3775 23.0404L19.0343 21.3911ZM14.3715 18.3638L19.0519 13.7048L17.4026 12.048L12.7222 16.707L14.3715 18.3638ZM17.5113 35.0628C22.1556 35.0734 26.6139 33.2387 29.9055 29.9622C33.197 26.6857 35.0521 22.2358 35.0628 17.5915L32.7279 17.5862C32.7187 21.6112 31.1109 25.4678 28.2583 28.3074C25.4056 31.147 21.5417 32.7371 17.5167 32.7279L17.5113 35.0628ZM0.0400724 17.5114C0.0294446 22.1557 1.86419 26.614 5.14069 29.9055C8.41719 33.197 12.867 35.0521 17.5113 35.0628L17.5167 32.7279C13.4916 32.7187 9.63509 31.1109 6.79545 28.2583C3.95582 25.4056 2.36571 21.5418 2.37492 17.5167L0.0400724 17.5114ZM17.5915 0.0400918C12.9472 0.0294639 8.48889 1.86421 5.19736 5.14071C1.90583 8.41721 0.0507003 12.8671 0.0400724 17.5114L2.37492 17.5167C2.37948 15.5237 2.77655 13.5511 3.54345 11.7116C4.31035 9.872 5.43208 8.20151 6.84457 6.79547C8.25706 5.38943 9.93266 4.27536 11.7757 3.51689C13.6188 2.75841 15.5931 2.37038 17.5861 2.37494L17.5915 0.0400918ZM17.5861 2.37494C19.5792 2.3795 21.5517 2.77656 23.3913 3.54347C25.2308 4.31037 26.9013 5.43209 28.3074 6.84459C29.7134 8.25708 30.8275 9.93268 31.586 11.7757C32.3444 13.6188 32.7325 15.5932 32.7279 17.5862L35.0628 17.5915C35.0734 12.9472 33.2386 8.48891 29.9621 5.19738C26.6856 1.90585 22.2358 0.0507197 17.5915 0.0400918L17.5861 2.37494Z' fill='%230047FF'/%3e%3c/svg%3e ")
    0 0 / contain no-repeat;
}

.lawyer__description_title {
  margin-right: 10px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.1;
}

.lawyer__description_txt {
  position: absolute;
  top: 85px;
  max-width: 295px;
}

.lawyer__description_txt p {
  padding-bottom: 25px;
}

.lawyer__description_icon {
  position: absolute;
  right: 25px;
  top: 130px;
}

.lawyer__description_price {
  position: absolute;
  top: 175px;
  left: 80px;
  color: #346dff;
  font-weight: bold;
}

.lawyer__description_price:hover {
  color: #0047ff;
}

.lawyer__column_col {
  width: 475px;
  height: 278px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 129.52%;
  margin: 15px;
  overflow: auto;
}

.lawyer__column_col:hover {
  transition: 300ms;
  box-shadow: 6px 10px 14px rgba(0, 0, 0, 0.32);
}

.lawyer__column_title {
  background: rgba(52, 109, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lawyer__column_title-h {
  margin: 15px auto;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 14.236px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #346dff;
}

.lawyer__col_icon {
  height: 40px;
  margin-right: 5px;
}

.lawyer__col_title {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #333333;
  text-align: left;
}

.lawyer__col_a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: right;
  color: rgba(52, 109, 255, 0.8);
  display: block;
}

.lawyer__cards_column {
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  /* flex: 1 1 auto; */
  justify-content: center;
  align-items: center;
  margin: auto 25px;
}

.lawyer__cards_col {
  width: 45%;
  display: flex;
  cursor: pointer;
}

.lawyer__Btn {
  display: flex;
  padding: 10px 35px;
  margin-bottom: 0;
  border-radius: 10px;
}

.cheak__icon {
  margin: 10px 10px 0 0;
}

.contacts {
  padding-bottom: 10vh;
}

.contacts__graf {
  text-align: center;
  width: 140px;
  margin-bottom: 10vh;
}

.contacts__column {
  display: flex;
}

.contacts__col {
  margin: 0 10px;
  margin-bottom: 10vh;
  width: 60px;
  height: 60px;
}

.contacts__col_icon img {
  height: 60px;
}

@media (max-width: 1640px) {
  h1 {
    font-size: 60px;
  }
  .header_menu li {
    font-size: 12px;
  }
}

@media (max-width: 1440px) {
  body {
    font-size: 13px;
  }
  h1,
  h2 {
    font-size: 48px;
    padding-bottom: 4vh;
  }
  h3 {
    font-size: 2.4em;
  }
  h4 {
    font-size: 1.6em;
  }
  h5 {
    font-size: 1.55em;
  }
  h6 {
    font-size: 1.3em;
  }
  .header_menu li {
    font-size: 11px;
    margin-right: 15px;
  }
  .logo {
    font-size: 38px;
  }
  .main__subtitle {
    font-size: 20px;
    margin-bottom: 60px;
  }
  .main__button {
    padding: 13px 70px;
  }
  .about__card_txt {
    width: 600px;
    padding: 20px;
    border-radius: 15px;
    font-size: 15px;
  }
  .about__card_txt p {
    margin-bottom: 12px;
  }

  .about__card_txt p:last-child {
    margin-bottom: 0;
  }
  .services__column {
    width: 800px;
  }
  .services__column_col {
    width: 300px;
    height: 470px;
  }
  .services__card_bt {
    font-size: 1.4em;
    padding: 12px 38px;
  }
  .privilage__col_txt {
    font-size: 1.18em;
  }
  .privilage__column_col {
    height: 200px;
  }
  .bookeeper__col {
    height: 500px;
    width: 270px;
  }
  .bookeeper__col_title {
    margin-bottom: 20px;
  }
  .bookeeper__col_txt-title {
    font-size: 15px;
  }
  .bookeeper__col_txt {
    margin-bottom: 20px;
  }
  section {
    padding-top: 4vh;
  }
}

@media (max-width: 1280px) {
  .header_menu li {
    font-size: 10px;
    margin-right: 12px;
  }
  .logo {
    font-size: 34px;
  }
  .main__h {
    right: 10vh;
  }
  .main__title {
    padding-bottom: 3vh;
  }
  .main__subtitle {
    margin-bottom: 40px;
  }
  .main__button {
    padding: 10px 66px;
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 40px;
  }
  .header_menu li {
    font-size: 9px;
    margin-right: 4px;
  }
  .about__card_txt {
    width: 480px;
    padding: 15px;
    font-size: 13px;
  }
  .about__card_txt p {
    margin-bottom: 10px;
  }

  .about__card_txt p:last-child {
    margin-bottom: 0;
  }
  .logo {
    font-size: 28px;
  }
}

@media (max-width: 960px) {
  h1,
  h2 {
    max-width: 400px;
  }

  .logo {
    max-height: 30vh;
    max-width: 300px;
  }
  .services__column {
    width: 460px;
  }
  .section {
    padding-top: 80px;
  }
  .privilege {
    padding-top: 80px;
  }
}

@media (max-width: 500px) {
  h1,
  h2 {
    max-width: 380px;
  }
  .services__column {
    width: 400px;
  }
  .bookeeper__columns .bookeeper__col:nth-child(2n) {
    margin: 0 0 15px 0;
  }
}

.hide {
  display: none;
}

@media (max-width: 1536px) and (orientation: portrait) {
  h1,
  h2 {
    max-width: 600px;
    line-height: 1.5;
  }
  .header_menu {
    display: none;
  }
  .main {
    height: 100vw;
    background-position: -6vh 0;
  }
  .main__h {
    right: 7vh;
    top: 18vh;
  }
}

@media (max-width: 1280px) and (orientation: portrait) {
  .main {
    background-position: -8vh 0;
  }
  .main__h {
    right: 4vh;
    top: 15vh;
  }
  .services__column {
    width: 690px;
  }
}

@media (max-width: 600px) and (orientation: portrait) {
  h1,
  h2 {
    max-width: 320px;
    line-height: 1.5;
    font-size: 42px;
  }
  .main {
    height: 100vh;
    background-position: -70vh 0;
  }
  .main__h {
    position: static;
  }
  .services__column {
    width: 320px;
  }
  .separator {
    margin-bottom: 6vh;
  }
}

@media (max-width: 560px) and (orientation: portrait) {
  .bookeeper__columns .bookeeper__col:nth-child(2n) {
    margin-bottom: 15px;
  }
}

@media (max-width: 500px) and (orientation: portrait) {
  h1,
  h2 {
    max-width: 320px;
    line-height: 1.5;
    font-size: 42px;
  }
  .main {
    height: 100vh;
    background-position: -70vh 0;
  }
  .main__h {
    position: static;
  }
  .services__column {
    width: 320px;
  }
  .separator {
    margin-bottom: 6vh;
  }
  .lawyer__column_col {
    width: 400px;
    height: 250px;
    font-size: 13px;
  }
}

@media (max-width: 400px) and (orientation: portrait) {
  h1,
  h2 {
    max-width: 320px;
    line-height: 1.5;
    font-size: 42px;
  }
  .main {
    height: 100%;
    background-position: -77vh 0;
  }
  .main__h {
    position: static;
  }
  .services__column {
    width: 320px;
  }
  .separator {
    margin-bottom: 6vh;
  }
  .lawyer__column_col {
    width: 400px;
    height: 250px;
    font-size: 13px;
  }
}
